@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------------colors--------------------- */

/* :root {
  --tenne-tawny: #d65108;
  --tenny-tanny-dark: #b54507;
} */

:root {
  --tenne-tawny: #daa03dff;
  --tenny-tanny-dark: #616247ff;
}

/* ------------------------- universal prop ------------------------------ */

body {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
  font-family: "poppins", sans-serif;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 1.05rem;
}

.text {
  opacity: 0.8;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: black;
}

.container {
  min-height: 100vh;
}

/* ---------------------- media links -------------------------- */

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

.brand-logo img {
  border-radius: 40%;
}

/* ------------------ navbar 1------------------------- */
.nav1 {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;
  align-items: center;
}

.nav1 img {
  width: 12rem;
}

.nav1 .short-links {
  display: flex;
  justify-content: space-between;
}

.nav1 a {
  text-decoration: none;
  font-weight: 500;
  margin: 0 1rem;
  color: var(--tenne-tawny);
}

.nav1 a:hover {
  color: var(--tenny-tanny-dark);
}
/* 
------------------- navbar mobile view ------------------- */

.nav2-container {
  display: none;
  flex-direction: column;
}

.nav2 {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;
  align-items: center;
}

.nav2 img {
  width: 12rem;
}

.nav2 button {
  width: 55px;
  height: 55px;
  background: white;
  color: var(--tenne-tawny);
  font-size: 1.8rem;
  border: 1px solid var(--tenne-tawny);
}

.nav2 button:hover {
  color: var(--tenny-tanny-dark);
}

.nav2-container .short-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav2-container a {
  text-decoration: none;
  font-weight: 500;
  margin: 0 1rem;
  color: var(--tenne-tawny);
  transition: color 2s;
}

.nav2-container .overlay {
}

.nav2 button:hover {
}

/* ------------------- overlay --------------- */

/* .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
} */

.meal-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  text-align: center;
}

.meal-search {
  margin: 2rem 0;

  padding: 20px 0;
}

.meal-search cite {
  font-size: 1rem;
}

.meal-search-box {
  margin: 1.2rem;
  display: flex;
  align-items: stretch;
}

.search-control,
.search-btn {
  width: 100%;
}

.search-control {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid var(--tenne-tawny);
  color: var(--tenne-tawny);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
  color: var(--tenne-tawny);
}

.search-btn {
  width: 55px;
  height: 55px;
  font-size: 1.8rem;
  background: var(--tenne-tawny);
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.45 linear;
  -webkit-transition: all 0.45 linear;
  -moz-transition: all 0.45 linear;
  -ms-transition: all 0.45 linear;
  -o-transition: all 0.45 linear;
}

.search-btn:hover {
  background: var(--tenny-tanny-dark);
}

.meal-result {
  margin-top: 4rem;
}

#meal {
  margin: 2.4rem 0;
}

.meal-item {
  border-radius: 1rem;
  transition: transform 0.2s;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.76);
  margin: 2rem 0;
}

.meal-item:hover {
  transform: scale(1.1);
}

.meal-img img {
  width: 100%;
  display: block;
}

.meal-name {
  padding: 1.5rem 0.5rem;
  background-color: #fff;
}

.meal-name h3 {
  font-size: 1.4rem;
}

.recipe-btn {
  text-decoration: none;
  color: #fff;
  background: var(--tenny-tanny-dark);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  display: block;
  width: 175px;
  margin: 1rem auto;
  border-radius: 2rem;
  -webkit-transition: 2rem;
  -moz-transition: 2rem;
  -ms-transition: 2rem;
  -o-transition: 2rem;
  transition: all 0.45 linear;
  -webkit-transition: all 0.45 linear;
  -moz-transition: all 0.45 linear;
  -ms-transition: all 0.45 linear;
  -o-transition: all 0.45 linear;
}

.recipe-btn:hover {
  background: var(--tenny-tanny-dark);
}

/* ----------meal-details--------------- */

.meal-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: var(--tenne-tawny);
  border-radius: 1rem;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  display: none;
  padding: 2rem 0;
}

.meal-details::-webkit-scrollbar {
  width: 10px;
}

.meal-details::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 2rem;
}

.showRecipe {
  display: block;
}

.meal-details-content {
  margin: 2rem;
}

.meal-details-content p:not(.recipe-category) {
  padding: 1rem 0;
}

.recipe-close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.recipe-title {
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.recipe-category {
  background: #fff;
  font-weight: 600;
  color: var(--tenne-tawny);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}

.recipe-instruct {
  padding: 1rem 0;
}

.recipe-meal-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.recipe-link {
  margin: 1.4rem 0;
}

.recipe-link a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4 linear;
}

/* */
.notFound {
  grid-template-columns: 1fr !important;
  color: var(--tenne-tawny);
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}

/* -----------queries----------------- */

@media screen and (max-width: 600px) {
  .nav1 {
    display: none;
  }
  .nav2-container {
    display: flex;
  }

  .nav2 .short-links {
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  .meal-search-box {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  #meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .meal-item {
    margin: 0;
  }

  .meal-details {
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  #meal {
    grid-template-columns: repeat(3, 1fr);
  }
}
